html{
	font: 12px '微软雅黑';
}
a{
	color: #000;
}
.top{
	background-color: #f7f7f7;
	height: 26px;
	border-bottom: 1px solid #d8d8d8;
}
.top_page{
	width: 970px;
	height: 26px;
	margin: 0 auto;
}
.top_page_l{
	line-height: 26px;
}
.top_page_r ul li{
	float: left;
	padding-right: 10px;
	line-height: 26px;
}
.top_page_r ul li s{
	width: 16px;
	height: 16px;
	background: url(../image/01.png);
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 970px;
	height: 98px;
	margin: 0 auto;

}
.logo_l{
	width: 200px;
	height: 55px;
	background: url(../image/logo.png) no-repeat center;
	margin: 24px 0 19px 9px;
}
.logo_r{
	width: 530px;
	height: 42px;
	border: 1px solid #c9c9c9;
	margin-top: 29px;
}
.logo_r_content{
	margin: 5px 5px 5px 4px;
}
.logo_r_searche{
	width: 418px;
	height: 28px;
	border: 1px solid #c9c9c9;
	color: #999999;
}
.logo_r_btn{
	width: 99px;
	height: 30px;
	color: white;
	background-color: #2f70d0;
}
.nav{
	width: 970px;
	height: 25px;
	margin: 0 auto;
	border-bottom: 2px solid #0266a3;
}
.nav li{
	padding: 0 15px 0 15px;
	line-height: 25px;
	float: left;
	font-size: 14px;
	font-weight: bold;
} 	
.nav li a{
	color: #0266a3;
}
.nav li:hover{
	background-color: #0266a3;

}
.nav li:hover a{
	color: white;
}
.title{
	text-align: center;
	margin-top: 40px;
}
.title .p1{
	font-family: '微软雅黑';
	font-size: 30px;
}
.fav_1{
	width: 632px;
	height: 225px;
	margin: 0 auto;
	margin-top: 60px;
	border: 1px solid #DADADA;
}
.left{
	width: 145px;
	height: 217px;
}
.left_p1{
	width: 145px;
	height: 217px;
	margin-left: 9px;
}
.right{
	width: 470px;
	height: 225px;
}
.right .exp{
	width: 470px;
	height: 126px;
}
.right .btn{
	width: 346.5px;
	height: 52px;
}
.right .btn .btn_1{
	width: 167.78px;
	height: 30px;
	margin-top: 10px;
	border: 1px solid #DADADA;
	text-align: center;
}
.right .btn .btn_1 img{
	margin-top: 5px;
}
.right .btn .btn_2{
	width: 167.78px;
	height: 30px;
	margin-left: 6px;
	margin-top: 10px;
	border: 1px solid black;
	background: black;
}
.right .btn .btn_2 p {
	color: white;
	text-align: center;
	line-height: 30px;
}
.right .btn .btn_2 p a{
	color: white;
}
.exp p{
	margin-top: 15px;
	font-size: 14px;
}
.exp dl{
	margin-top: 10px;
}
.exp dt{
	float: left;
	font-size: 12px;
	color: #555555;
}
.exp dl dd{
	margin-left: 130px;
	font-size: 12px;
	color: #555555;
}
.btn{
	margin-top: 20px;
}
